:root {
    --primary-color: #dfd3c3;
    --secondary-color: #596e79;
    --background-color: #f0ece2;
    --text-color: var(--secondary-color);
    --footer-background: #c7b198;
    --footer-text: var(--text-color);
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
}

/* Main intro div */
#introDiv {
    transform: translate(-50%, -50%);
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
}

/* Header styling */
h1 {
    text-align: center;
    text-wrap: nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
    left: 50%;
    right:50%;
    max-width: 100%;
}

/* Navigation styling */
nav {
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Main content styling */
main {
    margin: 20px 0;
}

/* Footer styling */
footer {
    background: var(--footer-background);
    color: var(--footer-text);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Main name header*/
#firstName {
    color: transparent;
    animation: first-name-animation 3s 1;
    -webkit-text-stroke: 1px var(--text-color);
}

#lastName {
    animation: last-name-animation 5s 1;
}

@keyframes last-name-animation {
    0% {
        color: transparent;
    }
    100% {
        color: var(--text-color);
    }
}

@keyframes first-name-animation {
    0% {
        -webkit-text-stroke: 1px var(--background-color);
    }
    100% {
        -webkit-text-stroke: 1px var(--text-color);
    }
}

@media (max-width: 600px) {
    #firstName, #lastName {
        font-size: 80%;
    }
    #firstName {
        -webkit-text-stroke: var(--text-color) 0.4px;
    }
}

@media (max-width: 400px) {
    #firstName, #lastName {
        font-size: 60%;
    }
    #firstName {
        -webkit-text-stroke: var(--text-color) 0.3px;
    }
}

@media (max-width: 200px) {
    #firstName, #lastName {
        font-size: 40%;
    }
    #firstName {
        -webkit-text-stroke: var(--text-color) 0.2px;
    }
}

#scrollDownDiv {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
}