:root {
  --primary-color: #dfd3c3;
  --secondary-color: #596e79;
  --background-color: #f0ece2;
  --text-color: var(--secondary-color);
  --footer-background: #c7b198;
  --footer-text: var(--text-color);
}

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: transparent;
}

.comingSoon {
  position: absolute;
  top: 10%;
  left: 50%;
  width: fit-content;
  text-align: center;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: var(--background-color);
}
/* Basic body styling */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  display: block;
  height: 30px;
  width: 100%;
  background-color: var(--secondary-color);
  text-align: center;
}

.slidingHeader {
  height: 0px;
  animation: slidingHeader 2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slidingHeader {
  100% {
    height: 30px;
  }
}

.headerLink {
  margin: 5%;
}
.slidingHeader .headerLink {
  margin: 5%;
  animation-delay: 2s;
  animation: showHeaderLink 2s forwards;
}

@keyframes showHeaderLink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/* Main intro div */
#introDiv {
  transform: translate(-50%, -50%);
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* Header styling */
#nameHeader {
  padding: 5%;
  text-align: center;
  text-wrap: nowrap;
  font-size: 5em;
  left: 50%;
  right: 50%;
  max-width: 100%;
}

/* Footer styling */
footer {
  background: var(--footer-background);
  color: var(--footer-text);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Main name header*/
#firstName {
  display: inline-block;
  max-width: fit-content;
  max-height: fit-content;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-color);

  /* Sliding underline effect */
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-size: 0% 0.05em;
  background-position-x: 0%;
  background-position-y: 88%;
  background-repeat: no-repeat;
  animation: slidingUnderline 2s cubic-bezier(0.23, 1, 0.32, 1) forwards,
    first-name-animation 2s 1 forwards;
}

@keyframes slidingUnderline {
  100% {
    background-size: 100% 0.05em;
  }
}

#lastName {
  display: inline-block;
  max-width: fit-content;
  max-height: fit-content;

  /* Sliding underline effect */
  background-image: linear-gradient(var(--text-color), var(--text-color));
  background-size: 0% 0.05em;
  background-position-x: 0%;
  background-position-y: 88%;
  background-repeat: no-repeat;
  animation: slidingUnderline 2s cubic-bezier(0.23, 1, 0.32, 1) forwards,
    last-name-animation 2s 1 forwards;
}

@keyframes last-name-animation {
  0% {
    color: transparent;
  }
  100% {
    color: var(--text-color);
  }
}

@keyframes first-name-animation {
  0% {
    -webkit-text-stroke: 1px var(--background-color);
  }
  100% {
    -webkit-text-stroke: 1px var(--text-color);
  }
}

@media (max-width: 600px) {
  #firstName,
  #lastName {
    font-size: 80%;
  }
  #firstName {
    -webkit-text-stroke: var(--text-color) 0.4px;
  }
}

@media (max-width: 400px) {
  #firstName,
  #lastName {
    font-size: 60%;
  }
  #firstName {
    -webkit-text-stroke: var(--text-color) 0.3px;
  }
}

@media (max-width: 200px) {
  #firstName,
  #lastName {
    font-size: 40%;
  }
  #firstName {
    -webkit-text-stroke: var(--text-color) 0.2px;
  }
}

#scrollDownDiv {
  display: block;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 90%;
  text-align: center;
  overflow-x: hidden;
}

#scrollDownText {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}
.fa-angles-down {
  color: var(--text-color);
}
#aboutSection {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0 10%;
  top: 110%;
  flex-wrap: wrap;

  justify-content: center;
}

.clickableIcon {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  text-decoration: none;
  color: var(--text-color);
  transition: color ease-in-out 0.2s;
}

.clickableIcon:hover {
  color: var(--footer-background);
}

.resume {
  aspect-ratio: 4 / 3;
  width: 100%;
}

#aboutMeHeader {
  position: absolute;
  width: fit-content;
  top: 5%;
  left: 5%;
  font-size: 5em;
}

.outlined {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: #596e79 1px;
}

#aboutMeDiv {
    position: absolute;
    top: 23%;
    left:5%;
    right: 5%;
    width: 50%;
    text-wrap: wrap;
}

#projectList {
    margin-left: 5%;
}

#projectList > li > p{
    width: 90%;
    text-wrap: wrap;
}
